#search-box {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    input {
        width: 100%;
        margin: 10px;
        padding: 18px 10px;
        border-radius: 4px;
        border: 1px solid #4e5766;
        box-shadow: 1px 0.5px #888888;
        font-size: 18px;
    }

    button {
        padding: 12px 10px;
        width: 30%;
        border-radius: 4px;
        background-color: #4286f4;
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
    }
}

#song-list {
    text-align:center;

    .sortable-column {
        cursor: pointer;
        background-color: coral;
    }

    tr.song-row:hover {
        cursor: pointer;
        background-color: yellow;
    }
}

#song-info {
    padding-top: 10px;

    #album-cover img {
        width: 200px;
        height: auto;
    }

    #song-navigation {

        button {
            background-color: black;
        }

        #previous {
            float: left;
        }

        #next {
            float: right;
        }
    }
}

#no-songs {
    font-size: 18px;
    padding-top: 10px;
}